.active {
    background-color: white !important;
    color: black !important;
}
.link:hover {
    text-decoration: underline;
}

.swiper {
  width: 100%;
  height: 100%;
}

/* 
.swiper-slide {
  text-align: center;
  font-size: 18px;

  display: flex;
  justify-content: center;
  align-items: center;
} */

